$colors: (
  primary: #111518,
  secondary: #b9b9b9,
  tertiary: #3d3d3d,
  accent: #ff6b09,
);

$thresholds: (
  minimum: 320px,
  mobile: 480px,
  tablet: 768px,
  desktop: 1200px,
);

@function getColor($color-name) {
  @return map-get($colors, $color-name);
}

@function getThreshold($threshold) {
  @return map-get($thresholds, $threshold);
}
