@use '../utils/vars' as vars;
* {
  margin: 0;
  padding: 0;
}

.program {
  background-color: vars.getColor('primary');
  padding: 50px 0 0 94px;
  &__header {
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.03em;
    color: white;
    text-align: left;
    margin-bottom: 40px;
    &--small {
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 0.08em;
      color: white;
      padding-bottom: 5px;
    }
  }
  &__steps-list {
    list-style: none;
  }
  &__item-list {
    list-style: none;
    &--small {
      list-style: none;
    }
  }
  &__tab {
    font-weight: 700;
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.08em;
    color: vars.getColor('accent');
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    &::before {
      display: block;
      content: '';
      border-top: 2px solid #ff6b09;
      width: 14px;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
  &__description {
    font-size: 12px;
    line-height: 1.66;
    letter-spacing: 0.08em;
    color: vars.getColor('secondary');
  }
  &__item {
    padding-bottom: 8px;
  }
  &__step {
    padding-bottom: 40px;
    padding-left: 26px;
    &::before {
      width: 12px;
      height: 12px;
      background: #ff6b09;
      border-radius: 50%;
      content: '';
      display: block;
      position: absolute;
      transform: translateX(-32px);
    }
    &:not(:last-child) {
      border-left: 1px solid #ffffff;
    }
  }
  &__image {
    margin-top: -85px;
    width: 176px;
    height: 137px;
    background-image: url(/images/mobile-our-program.jpg);
    float: right;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .program {
    &__header {
      font-size: 26px;
      line-height: 1.31;
      letter-spacing: 0.03em;
    }
    &__item-list {
      display: flex;
      gap: 50px;
    }
    &__item {
      width: 176px;
    }
    &__image {
      margin-top: -160px;
      background-image: url(/images/tablet-our-program.jpg);
      width: 384px;
      height: 280px;
      position: relative;
      float: right;
    }
  }
}

@media screen and (min-width: 1280px) {
  .program {
    height: 1233px;
    padding-left: 123px;
    &__steps-list {
      display: flex;
      border-top: 1px solid #ffffff;
      padding-right: 30px;
      gap: 30px;
    }
    &__item-list {
      display: flex;
      flex-direction: column;
    }
    &__step {
      border-left: none;
      padding: 0;
      width: 200px;
      padding-top: 60px;
      &::before {
        transform: translateY(-66px);
      }
      &:not(:last-child) {
        border-left: none;
      }
    }
    &__header {
      padding-bottom: 100px;
      font-weight: 800;
      font-size: 46px;
      line-height: 1.3;
      letter-spacing: 0.03em;
      &--small {
        margin: 0;
        font-weight: 700;
        font-size: 30px;
        line-height: 0.93;
        letter-spacing: 0.08em;
        padding-bottom: 25px;
      }
    }
    &__tab {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.65;
      letter-spacing: 0.08em;
      margin-bottom: 10px;
      gap: 14px;
      &::before {
        width: 18px;
        margin-top: 18px;
        border-top: 3px solid #ff6b09;
      }
    }
    &__description {
      font-weight: 500;
      font-size: 18px;
      line-height: 1.55;
      padding-right: 10px;
    }
    &__image {
      position: absolute;
      left: 0;
      margin-left: -160px;
      margin-top: -108px;
      width: 683px;
      height: 502px;
      background-image: url(/images/desktop-our-program.jpg);
    }
  }
}
