<section class="about">
  <div class="about__layout">
    <div class="about__margin">
      <h2 class="about__heading" id="about">Teacher</h2>
      <img
        class="about__image"
        src="images/desktop-about.jpg"
        srcset="
          images/desktop-about.jpg          530w,
          images/desktop-aboutx2.jpg       1060w,
          images/tablet-mobile-about.jpg    243w,
          images/tablet-mobile-aboutx2.jpg  486w
        "
        alt="photo of the teacher"
      />
    </div>
    <div class="about__position">
      <h3 class="about__name">Elena Moreva</h3>
      <div class="about__border"></div>
      <ul class="about__list">
        <li class="about__list__icon">
          <svg class="about__icon">
            <use href="images/sprite.svg#icon-check-mark"></use>
          </svg>
        </li>
        <li class="about__list__experience">
          6 yeards of experience in preparing students for UPE
        </li>
        <li class="about__list__icon">
          <svg class="about__icon">
            <use href="images/sprite.svg#icon-check-mark"></use>
          </svg>
        </li>
        <li class="about__list__experience">
          Own result of passing VNO - 197 points 2 years in a row
        </li>
        <li class="about__list__icon">
          <svg class="about__icon">
            <use href="images/sprite.svg#icon-check-mark"></use>
          </svg>
        </li>
        <li class="about__list__experience">
          Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary English
          Test)
        </li>
      </ul>
      <p class="about__line">—</p>
      <ul class="about__description">
        <li class="about__text">
          Graduated from the Institute of International Relations of the NAU with a degree in
          translator-analyst.
        </li>
        <li class="about__text">
          In spare time takes courses from the best universities in the world on effective teaching
          and essay writing techniques.
        </li>
        <li class="about__text">
          Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
          University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
          (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </li>
      </ul>
      <a class="about__certificate" href="#">Cambrige English Entry Level Certificate</a>
    </div>
  </div>
</section>
