<div class="advantages">
  <div class="advantages__item">
    <div class="advantages__item--style">
      <svg class="advantages__item--image">
        <use xlink:href="./images/sprite.svg#icon-female-student"></use>
      </svg>
    </div>
    <span class="advantages__item--text">Adapted author's UPE program</span>
  </div>
  <div class="advantages__item">
    <div class="advantages__item--style">
      <svg class="advantages__item--image">
        <use xlink:href="./images/sprite.svg#icon-mobile-learning"></use>
      </svg>
    </div>

    <span class="advantages__item--text">Modern teaching methods</span>
  </div>
  <div class="advantages__item">
    <div class="advantages__item--style">
      <svg class="advantages__item--image">
        <use xlink:href="./images/sprite.svg#icon-insurance"></use>
      </svg>
    </div>

    <span class="advantages__item--text">Financial guarantee the result</span>
  </div>
</div>
