<section class="advantages">
  <h3 class="advantages__title">advantages</h3>
  <div class="advantages__container">
    <ul class="advantages__list">
      <li class="advantages__list--item">
        <div class="advantages__block">
          <svg class="advantages__block--icon">
            <use xlink:href="./images/sprite.svg#icon-female-student"></use>
          </svg>
        </div>
        <div class="advantages__text">
          <span class="advantages__text--style">Adapted author's UPE program </span>
        </div>
      </li>
      <li class="advantages__list--item">
        <div class="advantages__block">
          <svg class="advantages__block--icon">
            <use xlink:href="./images/sprite.svg#icon-mobile-learning"></use>
          </svg>
        </div>
        <div class="advantages__text2">
          <span class="advantages__text--style">Modern </br> teaching methods</span>
        </div>
      </li>
      <li class="advantages__list--item">
        <div class="advantages__block">
          <svg class="advantages__block--icon">
            <use xlink:href="./images/sprite.svg#icon-insurance"></use>
          </svg>
        </div>
        <div class="advantages__text3">
          <span class="advantages__text--style">Financial guarantee the result </span>
        </div>
      </li>
    </ul>
  </div>
</section>
