<section class="benefits">
  <h2 class="whiteboard-list__title benefits__title">
    <div class="benefits__title-compresser">Why do people choose us</div>
  </h2>
  <ol class="whiteboard-list__list benefits__list">
    <li class="whiteboard-list__list-item benefits__list-item">Training in small groups</li>
    <li class="whiteboard-list__list-item benefits__list-item">Rendered notes</li>
    <li class="whiteboard-list__list-item benefits__list-item">
      Each lesson has a goal and a specific result
    </li>
    <li class="whiteboard-list__list-item benefits__list-item">The real results of the teacher</li>
    <li class="whiteboard-list__list-item benefits__list-item">
      The course program meets the requirements of the MES of Ukraine
    </li>
    <li class="whiteboard-list__list-item benefits__list-item">
      Set of groups by level of knowledge
    </li>
  </ol>
</section>
