<section class="contacts">
  <h3 class="contacts__title">
    Registration for a <span class="accent-span"> free</span> phone
    <span class="accent-span">consultation</span> on the nuances of English UPE
  </h3>
  <p class="contacts__text">
    Leave a request for participation in a <span>free lesson</span>. A consultant will contact you
    and answer your questions
  </p>
  <dev class="contacts-form">
    <form class="form" name="signup-form">
      <input required class="form__input" type="text" placeholder="Name*" />
      <input required class="form__input" type="phone" placeholder="Phone*" />
    </form>
    <button class="btn" type="button">i want a free lesson</button>
  </dev>
</section>
