<section class="contacts" id="contacts">
  <h2 class="contacts__title" id="#contacts">
    Registration for a <span class="accent-span"> free</span> phone
    <span class="accent-span">consultation</span> on the nuances of English UPE
  </h2>
  <p class="contacts__text">
    Leave a request for participation in a <span class="accent-span">free lesson</span>.
  </p>
  <p class="contacts__text">A consultant will contact you and answer your questions</p>
  <div class="contacts-form">
    <form class="form">
      <input
        class="form__input"
        type="text"
        name="text"
        required
        pattern="^[a-zA-Ząęłśćóżź]+\s[a-zA-Ząęłśćóżź\-]+(?:\s[a-zA-Ząęłśćóżź]+)?$"
        title="Here put your full name please"
        placeholder="Name*"
      />
      <input
        class="form__input"
        type="phone"
        name="phone_number"
        required
        pattern="^[0-9\-\+]{9,12}$"
        title="Here put your phone number please"
        placeholder="Phone*"
      />
      <button class="btn" type="submit">i want a free lesson</button>
    </form>
 </section>
