<section class="contacts">
  <h3 class="contacts__title" id="#contacts">
    Registration for a <span class="accent-span"> free</span> phone
    <span class="accent-span">consultation</span> on the nuances of English UPE
  </h3>
  <p class="contacts__text">
    Leave a request for participation in a <span class="accent-span">free lesson</span>.
  </p>
  <p class="contacts__text">A consultant will contact you and answer your questions</p>
  <div class="contacts-form">
    <form class="form" name="signup-form">
      <input
        class="form__input"
        type="text"
        placeholder="Name*"
        title="Your full name"
        pattern="[A-Za-z].{2,}"
        required
      />
      <input
        class="form__input"
        type="phone"
        placeholder="Phone*"
        title="Your phone number"
        maxlength="12"
        pattern="[0-9]"
        required
      />
    </form>
  </div>
  <button class="btn" type="button">i want a free lesson</button>
</section>
