<footer class="footer">
  <div class="footer__container">
    <div class="footer__box">
      <svg class="footer__icon">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
      <div class="footer__contact">
        <div class="footer__contact--icon">
          <svg class="footer__contact--orange">
            <use href="./images/sprite.svg#icon-phone"></use>
          </svg>
          <a class="footer__contact--tel" href="+38 (000) 000 00 00" type="tel"
            >+38 (000) 000 00 00</a
          >
        </div>
        <div class="footer__contact--img">
          <a href="https://www.instagram.com" class="footer__instagram-link"></a>
        </div>
      </div>
    </div>
    <div class="footer__license">
      <div class="footer__license__box">
        <a class="footer__license--text" href="#">@ All rights reserved, 2019</a>
      </div>
    </div>
  </div>
</footer>
