<header class="header">
  <div class="header__container">
    <div class="header__elements">
      <div class="header__links">
        <a href="" class="header__logo">
          <div class="logo">
            <span class="logo--style1">Hell</span>
            <svg class="logo--style2" width="22" height="30">
              <use xlink:href="./images/sprite.svg#icon-flame"></use>
            </svg>
            <span class="logo--style3">en</span>
          </div>
          <div class="logo--bottom">
            <span class="logo--style4">hellish </span><span class="logo--style1">english</span>
          </div>
        </a>
        <nav class="header__nav">
          <a href="#program" class="header__nav--style">Studying program</a>
          <a href="#about" class="header__nav--style">about</a>
          <a href="#how-we-do" class="header__nav--style">training options</a>
          <a href="#contacts" class="header__nav--style">contacts</a>
        </nav>
      </div>
      <button type="button" class="button__form" data-modal-open>consultation by phone</button>
      <button
        type="button"
        class="button__menu js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="button__menu--style" width="25" height="12">
          <use xlink:href="./images/sprite.svg#icon-mobile-menu"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
