<section class="how-we-do__section" id="how-we-do">
  <div class="container">
    <h2 class="how-we-do__heading">How do we do it</h2>
    <ul class="how-we-do__list">
      <li class="how-we-do__item">
        <div class="how-we-do__svg-list">
          <svg class="how-we-do__svg">
            <use href="/images/sprite.svg#icon-study-program"></use>
          </svg>
        </div>
        <div class="how-we-do__text">
          <h3 class="how-we-do__item-heading">Adapted program preparation for UPE</h3>
          <p class="how-we-do__item-paragraph">
            You will learn grammar and vocabulary at the same time. And you will learn how to write
            essays.
          </p>
        </div>
      </li>

      <li class="how-we-do__item">
        <div class="how-we-do__svg-list">
          <svg class="how-we-do__svg">
            <use href="/images/sprite.svg#icon-mobile-learning"></use>
          </svg>
        </div>
        <div class="how-we-do__text">
          <h3 class="how-we-do__item-heading">Classroom and online learning</h3>
          <p class="how-we-do__item-paragraph">
            The teacher will help not only in the classroom, but also during home preparation.
            Parents can chat if they wish.
          </p>
        </div>
      </li>

      <li class="how-we-do__item how-we-do__item--active">
        <div class="how-we-do__svg-list">
          <svg class="how-we-do__svg how-we-do__svg--active">
            <use href="/images/sprite.svg#icon-open-book"></use>
          </svg>
        </div>
        <div class="how-we-do__text">
          <h3 class="how-we-do__item-heading how-we-do__item-heading--active">
            The habit of reading in English
          </h3>
          <p class="how-we-do__item-paragraph how-we-do__item-paragraph--active">
            Articles from sources that are used in the development of this UPE will be received by
            phone twice a week.
          </p>
        </div>
      </li>

      <li class="how-we-do__item">
        <div class="how-we-do__svg-list">
          <svg class="how-we-do__svg">
            <use href="images/sprite.svg#icon-psychological-support"></use>
          </svg>
        </div>
        <div class="how-we-do__text">
          <h3 class="how-we-do__item-heading">Psychological support</h3>
          <p class="how-we-do__item-paragraph">
            We will teach you testing techniques, the ability to plan your confidence training in
            itself.
          </p>
        </div>
      </li>

      <li class="how-we-do__item">
        <div class="how-we-do__svg-list">
          <svg class="how-we-do__svg">
            <use href="/images/sprite.svg#icon-female-student"></use>
          </svg>
        </div>
        <div class="how-we-do__text">
          <h3 class="how-we-do__item-heading">Training on copyright manuals</h3>
          <p class="how-we-do__item-paragraph">
            You don't have to waste your time on a search for material and to buy anything extra. We
            have compiled 2 manuals for you.
          </p>
        </div>
      </li>

      <li class="how-we-do__item">
        <div class="how-we-do__svg-list">
          <svg class="how-we-do__svg">
            <use href="/images/sprite.svg#icon-audiobook"></use>
          </svg>
        </div>
        <div class="how-we-do__text">
          <h3 class="how-we-do__item-heading">Ability to comprehend spoken English</h3>
          <p class="how-we-do__item-paragraph">
            “F.R.I.E.N.D.S” won't help you. You will listen regularly and analyze audio recordings
            in accordance with the studied vocabulary.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
