<!-- mobile menu -->
<div class="mobile-menu js-menu-container" id="mobile-menu">
  <div class="mobile-menu__container">
    <div class="mobile-menu__logo">
      <a href="" class="header__logo">
        <div class="logo">
          <span class="mobile-menu__logo--style1">Hell</span>
          <svg class="logo--style2" width="22" height="30">
            <use xlink:href="./images/sprite.svg#icon-flame"></use>
          </svg>
          <span class="mobile-menu__logo--style2">en</span>
        </div>
        <div class="logo--bottom">
          <span class="logo--style4">hellish </span
          ><span class="mobile-menu__logo--style1">english</span>
        </div>
      </a>
    </div>
    <button type="button" class="mobile-menu__close-button js-close-menu">
      <svg class="mobile-menu__close-button--style" width="15" height="16">
        <use xlink:href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="mobile-menu__nav-box">
      <ul class="mobile-menu__nav-list">
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-item--style" href="#program">Studying program</a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-item--style" href="#about">About</a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-item--style" href="#how-we-do">Training options</a>
        </li>
        <li class="mobile-menu__nav-item">
          <a class="mobile-menu__nav-item--style" href="#contacts">Contacts</a>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu__button-box">
      <button type="button" class="mobile-menu__button" data-modal-open>
        consultation by phone
      </button>
    </div>
  </div>
</div>
