<!-- modal  -->
<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button type="button" class="modal__close-button" data-modal-close>
      <svg class="modal__close-button--style">
        <use xlink:href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="header__logo--modal">
      <div class="logo--modal">
        <span class="logo--style1">Hell</span>
        <svg class="logo--style2" width="22" height="30">
          <use xlink:href="./images/sprite.svg#icon-flame"></use>
        </svg>
        <span class="logo--style3">en</span>
      </div>
      <div class="logo--modal-bottom">
        <span class="logo--style4">hellish </span><span class="logo--style1">english</span>
      </div>
    </div>
    <form class="modal__forms">
      <label for="name-box" class="details__heading"> Name</label>
      <input
        id="name-box"
        type="text"
        name="username"
        class="details"
        required
        pattern="^[a-zA-Ząęłśćóżź]+\s[a-zA-Ząęłńśćóżź\-]+(?:\s[a-zA-Ząęłśćóżź]+)?$"
        title="Here put your full name please"
        placeholder="Name*"
      />
      <svg class="details__icon">
        <use xlink:href="./images/sprite.svg#icon-female-student" width="20" height="20"></use>
      </svg>
      <label for="email-box" class="details__heading"> Email</label>
      <input id="email-box" type="email" name="email" class="details" />
      <svg class="details__icon1">
        <use xlink:href="./images/sprite.svg#icon-open-book" width="20" height="20"></use>
      </svg>
      <label for="phone-box" class="details__heading"> Telephone</label>
      <input
        id="phone-box"
        type="tel"
        name="telphone-number"
        class="details"
        required
        pattern="^[0-9\-\+]{9,12}$"
        title="Here put your phone number please"
        placeholder="Phone*"
      />
      <svg class="details__icon2">
        <use xlink:href="./images/sprite.svg#icon-phone" width="20" height="20"></use>
      </svg>
      <label for="size" class="details__heading">Preferred time </label>
      <select id="size" name="size" class="details--time">
        <option value="am" selected>8:00 - 12:00</option>
        <option value="mid">12:00-16:00</option>
        <option value="pm">16:00 - 20:00</option>
      </select>

      <button type="submit" class="modal__submit-button" data-modal-open1>Call me!</button>
    </form>
  </div>
</div>
