<section class="problems">
  <div class="problems__background-image">
    <h2 class="problems__title">
      The main problems of students<br />
      in English UPE, which<br />
      we <span class="accent-span">help</span> to solve
    </h2>
  </div>
  <ol class="problems__list">
    <li class="problems__list-item">Grammar</li>
    <li class="problems__list-item">Inability to understand spoken English</li>
    <li class="problems__list-item">Stingy vocabulary for writing an essay</li>
    <li class="problems__list-item">Preparing alone</li>
    <li class="problems__list-item">Lack of a single knowledge resource</li>
    <li class="problems__list-item">Lack of self-organization and laziness</li>
  </ol>
</section>
