<section class="program">
  <h3 class="program__header">Our program</h3>
  <div class="program__line"></div>
  <div class="program__container">
    <ul class="program__item-list">
      <li><h4 class="program__header--small">1 SEMESTER</h4></li>
      <div class="program__text">
        <div class="program__item">
          <li class="program__tab">— Grammar</li>
          <li>
            <p class="program__description">
              Nouns & Articles <br />
              Adjectives & Adverb
            </p>
          </li>
        </div>
        <div class="program__item">
          <li class="program__tab">— Vocabulary</li>
          <li>
            <p class="program__description">
              Family & Relations<br />
              People & Society
            </p>
          </li>
        </div>
      </div>
    </ul>

    <ul class="program__item-list">
      <li><h4 class="program__header--small">2 SEMESTER</h4></li>
      <div class="program__text">
        <div class="program__item">
          <li class="program__tab">— Grammar</li>
          <li>
            <p class="program__description">
              Pronouns<br />
              Active Voice<br />
              Passive Voice
            </p>
          </li>
        </div>
        <div class="program__item">
          <li class="program__tab">— Vocabulary</li>
          <li>
            <p class="program__description">
              Home<br />
              School<br />
              Work
            </p>
          </li>
        </div>
      </div>
    </ul>

    <ul class="program__item-list">
      <li><h4 class="program__header--small">3 SEMESTER</h4></li>
      <div class="program__text">
        <div class="program__item">
          <li class="program__tab">— Grammar</li>
          <li>
            <p class="program__description">
              Modal verbs<br />
              Infinitive<br />
              Gerund<br />
              Participle: 1, 2
            </p>
          </li>
        </div>
        <div class="program__item">
          <li class="program__tab">— Vocabulary</li>
          <li>
            <p class="program__description">
              Travel & Tourism <br />
              Culture & Free Time<br />
              Sport
            </p>
          </li>
        </div>
        <div class="program__item">
        <li class="program__tab">— Writing</li>
        <p class="program__description">Informal Letter</p>
      </div>
    </ul>

    <ul class="program__item-list">
      <li><h4 class="program__header--small">4 SEMESTER</h4></li>
      <div class="program__text">
        <div class="program__item">
          <li class="program__tab">— Grammar</li>
          <li>
            <p class="program__description">
              Clauses: Conditional and<br />
              Wishes<br />
              Direct / Reported speech<br />
              Preposition<br />
              Conjunction<br />
              Numeral
            </p>
          </li>
        </div>
        <div class="program__item">
          <li class="program__tab">— Vocabulary</li>
          <li>
            <p class="program__description">
              Healthy Living<br />
              Nature & Environment<br />
              Money
            </p>
          </li>
        </div>
        <div class="program__item">
          <li class="program__tab">— Writing</li>
          <p class="program__description">Formal Letter</p>
        </div>
      </div>
    </ul>

    <ul class="program__item-list">
      <li><h4 class="program__header--small">5 SEMESTER</h4></li>
      <div class="program__text">
        <div class="program__item">
          <li class="program__tab">—</li>
          <li>
            <p class="program__description">
              Revision<br />
              Tests
            </p>
          </li>
        </div>
      </div>
    </ul>
    <figure class="program__figure">
    <img class="program__image" src="/images/desktop-our-program.jpg"
    srcset="/images/desktop-our-programx2.jpg 2x">
  </div>
</section>
</figure>
