<section class="reviews">
  <h2 class="reviews__tittle">Feedback from graduates</h2>
  <div class="reviews__team">
    <div class="reviews__team-arrow--left">
      <svg>
        <use xlink:href="./images/sprite.svg#icon-arrow-left"></use>
      </svg>
    </div>
    <div class="reviews__container">
      <div class="reviews__team--photo">
        <img
          scr="./images/reviewphoto.jpg"
          srcset="./images/reviewphoto@2x.jpg"
          alt="portrait"
          class="reviews__img"
        />
        <svg class="reviews__icon">
          <use xlink:href="./images/sprite.svg#icon-vk"></use>
        </svg>
      </div>
      <div class="reviews__description">
        <p class="reviews__description--tittle">Tonya Kucherovskaya</p>
        <p class="reviews__description--comment">
          Graduated from 2015, National University of Bioresources and natural history of Ukraine
        </p>
        <p class="reviews__description--info">
          In a short time with Elena, I mastered grammar and replenished my completely empty
          vocabulary. From the first lesson I realized that I was on my plate. Elena and I became
          friends because she was really worried about my success. She became an authority for me,
          but I did not tremble in class, fearing to make the slightest mistake. Now I can brag that
          I'm student ...
          <span class="reviews__description--read">Read more</span>
        </p>
      </div>
    </div>
    <div class="reviews__team-arrow--right">
      <svg>
        <use xlink:href="./images/sprite.svg#icon-arrow-right"></use>
      </svg>
    </div>
  </div>
  <div class="reviews__pictures">
    <svg class="reviews__arrow">
      <use xlink:href="./images/sprite.svg#icon-arrow-left"></use>
    </svg>
    <div class="reviews__pictures--box">
      <img
        scr="./images/allsizes-reviews2.jpg"
        srcset="./images/allsizes-reviews2x2.jpg"
        alt="portrait"
        class="reviews__pictures--img"
      />
      <img
        scr="./images/allsizes-reviews3.jpg"
        srcset="./images/allsizes-reviews3x2.jpg"
        alt="portrait"
        class="reviews__pictures--img"
      />
      <img
        scr="./images/allsizes-reviews4.jpg"
        srcset="./images/allsizes-reviews4x2.jpg"
        alt="portrait"
        class="reviews__pictures--img"
      />
      <img
        scr="./images/allsizes-reviews5.jpg"
        srcset="./images/allsizes-reviews5x2.jpg"
        alt="portrait"
        class="reviews__pictures--img--none"
      />
      <img
        scr="./images/allsizes-reviews6.jpg"
        srcset="./images/allsizes-reviews6x2.jpg"
        alt="portrait"
        class="reviews__pictures--img--none"
      />
      <img
        scr="./images/allsizes-reviews7.jpg"
        srcset="./images/allsizes-reviews7x2.jpg"
        alt="portrait"
        class="reviews__pictures--img--none"
      />
      <img
        scr="./images/allsizes-reviews8.jpg"
        srcset="./images/allsizes-reviews8x2.jpg"
        alt="portrait"
        class="reviews__pictures--img--none"
      />
    </div>
    <svg class="reviews__arrow">
      <use xlink:href="./images/sprite.svg#icon-arrow-right"></use>
    </svg>
  </div>
</section>
