@use '../utils/vars' as vars;

.contacts {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../images/tablet-mobile-contactx2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  padding: 50px 20px;
  min-width: 320px;
  margin-top: 50px;
}
.contacts__title {
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
}
.contacts__text {
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.08em;
  color: #ffffff;
  width: 100%;
  margin: 0 auto;
}
.contacts-form {
  padding-top: 30px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.form__input {
  background: rgba(0, 0, 0, 0);
  border: 1px solid #ffffff;
  height: 48px;
  max-width: 390px;
  width: 100%;
  padding-left: 16px;
  color: #ffffff;
  align-self: center;
}
::placeholder {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.08em;
  font-size: 14px;
}
input:not(:placeholder-shown):required:invalid {
  background-color: rgba(152, 0, 0, 0.479);
  transition-duration: 250ms;
}
input:not(:placeholder-shown):required:valid {
  background-color: rgba(0, 0, 0, 0);
}
.btn {
  display: flex;
  width: 260px;
  height: 48px;
  font-size: 12px;
  font-weight: 600;
  background-color: vars.getColor('accent');
  border: 1px vars.getColor('accent');
  color: #ffffff;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  margin: 0 auto;
}
.btn:hover {
  background-color: #e35c01;
  box-shadow: 1px 0px 10px 3px rgba(34, 35, 58, 0.296);
  transition-duration: 250ms;
}
//---
.popup {
  height: 200px;
  max-width: 300px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 15px;
  opacity: 80%;
  // position: absolute;
  justify-content: center;
  margin: 0 auto;
  transform: translateY(-130%);
  top: 50%;
  left: 50%;
}
.popup__title {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.03em;
  color: vars.getColor('tertiary');
}
.popup__text {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.08em;
  color: vars.getColor('tertiary');
}
.popup-btn {
  display: flex;
  height: 40px;
  width: 50px;
  font-weight: 700;
  background-color: vars.getColor('accent');
  border: 1px vars.getColor('accent');
  color: #ffffff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-top: 25px;
}
.popup:hover {
  opacity: 100%;
  transition-duration: 250ms;
}
.popup-btn:hover {
  background-color: #e35c01;
  box-shadow: 1px 0px 10px 3px rgba(34, 35, 58, 0.122);
  transition-duration: 250ms;
}
@media all and (min-width: vars.getThreshold('mobile')) {
  .contacts__title {
    font-size: 18px;
  }
}
@media all and (max-width: vars.getThreshold('tablet')) {
  .contacts__title {
    max-width: 396px;
  }
}
@media all and (min-width: vars.getThreshold('tablet')) {
  .contacts {
    padding: 70px;
  }
  .contacts__title {
    font-size: 26px;
    width: 100%;
    max-width: 854px;
    padding: 0 100px;
  }
  .contacts__text {
    font-size: 14px;
    padding: 0 100px;
  }
}
@media all and (min-width: vars.getThreshold('desktop')) {
  .contacts {
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
      url('../images/desktop-contactx2.jpg');
    background-size: cover;
    padding-top: 100px;
  }
  .contacts__title {
    font-size: 40px;
    width: 100%;
    max-width: 1000px;
    padding: 0;
    margin-bottom: 80px;
  }
  .contacts__text {
    font-size: 28px;
    max-width: 1000px;
    padding: 0;
  }
  .contacts-form {
    padding-top: 55px;
  }
  .form__input {
    max-width: 496px;
  }
  .btn {
    height: 70px;
    width: 367px;
  }
}
