@use '../utils/vars' as vars;

.guarantee {
  min-width: 280px;
  width: 100%;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  &__title {
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: #111518;
    margin-bottom: 30px;
  }
  &__bg {
    background-color: #f1f1f1;
    max-width: 688px;
    margin: 0 auto;
  }
  &__list {
    list-style: none;
    margin: 30px 20px 31px 0;
    padding: 30px 20px 30px;
    position: relative;
    text-align: left;
  }
  &__list-item {
    position: relative;
    font-size: 12px;
    line-height: 167%;
    color: #3d3d3d;
    text-align: left;
    padding-bottom: 23px;
    border-left: 1px dashed rgba(185, 185, 185, 1);
    padding-left: 20px;
    margin-left: 5px;
    &::before {
      content: url('../images/icon-guarantee-flame.svg');
      position: absolute;
      width: 14.37px;
      height: 20px;
      transform: translateX(-27px);
    }
    &:nth-child(4) {
      border: none;
      padding-bottom: 0;
    }
  }
  &__svg {
    position: absolute;
    fill: #ff6b09;
    width: 14px;
    height: 20px;
    display: none;
  }
}

@media all and (min-width: vars.getThreshold('tablet')) {
  .guarantee {
    max-width: vars.getThreshold('tablet');
    text-align: center;
    align-items: center;
    &__bg {
      max-width: 688px;
      margin-left: 40px;
    }
    &__list {
      padding-left: 80px;
      padding-right: 50px;
    }
    &__list-item {
      line-height: 233%;
    }
  }
}

@media all and (min-width: vars.getThreshold('desktop')) {
  .guarantee {
    max-width: 1314px;
    text-align: center;
    align-items: center;
    &__title {
      font-weight: 800;
      font-size: 46px;
      line-height: 60px;
    }
    &__bg {
      width: 1314px;
      margin-left: 0;
      max-width: none;
    }
    &__list {
      margin-left: 40px;
    }
    &__list-item {
      font-weight: 500;
      font-size: 20px;
      line-height: 140%;
      margin-left: 9px;
      padding-left: 41px;
      &::before {
        width: 21.56px;
        height: 29.99px;
        transform: translateX(-46px) scale(1.5);
      }
    }
    &__svg {
      width: 22px;
      height: 30px;
    }
  }
}
