@use '../utils/vars' as vars;

.header {
  height: 90px;
  &__elements {
    display: flex;
  }
  &__links {
    display: flex;
    gap: 142px;
    align-items: center;
    position: absolute;
    top: 20px;
    left: 20px;
  }
  &__logo {
    text-decoration: none;
    &--modal {
      text-decoration: none;
      display: block;
      padding-top: 11px;
      padding-bottom: 20px;
    }
  }
  &__nav {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    gap: 50px;
    display: none;

    &--style {
      color: vars.getColor('secondary');
      text-decoration: none;
      text-transform: uppercase;
      &:hover,
      &:focus,
      &:active {
        color: #ff8a3c;
      }
    }
  }
}
.logo {
  display: flex;
  font-weight: 800;
  font-size: 26px;
  line-height: 1.23;
  letter-spacing: 0.04em;
  &--style1 {
    color: vars.getColor('primary');
    padding-right: 3px;
  }
  &--style2 {
    fill: vars.getColor('accent');
  }
  &--style3 {
    color: vars.getColor('primary');
    text-transform: uppercase;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &--bottom {
    font-weight: 700;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
    text-transform: uppercase;
  }
  &--style4 {
    color: vars.getColor('accent');
  }
  &--modal {
    display: flex;

    justify-content: center;
    font-weight: 800;
    font-size: 26px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  &--modal-bottom {
    font-weight: 700;
    font-size: 8px;
    line-height: 1.25;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
  }
}

.button {
  &__form {
    width: 260px;
    height: 48px;
    border: 2px solid vars.getColor('accent');
    background-color: white;
    color: vars.getColor('accent');
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.14em;
    display: none;
    &:focus,
    &:hover,
    &:active {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
      cursor: pointer;
    }
  }
  &__menu {
    background-color: white;
    border: none;
    position: absolute;
    top: 23px;
    right: 16px;
    padding: 0;
    &--style {
      &:hover,
      &:active {
        fill: vars.getColor('accent');
        cursor: pointer;
      }
    }
  }
}

// edycje dla poszczególnych viewportów

@media screen and (min-width: vars.getThreshold('tablet')) and (max-width: vars.getThreshold('desktop')) {
  .header {
    &__container {
      width: vars.getThreshold('tablet');
      margin: 0 auto;
    }
    &__links {
      position: relative;
      top: 20px;
      left: 20px;
    }
  }
  .button {
    &__form {
      display: block;
      position: relative;
      top: 20px;
      left: 300px;
    }
    &__menu {
      position: relative;
      top: 20px;
      left: 340px;
    }
  }
}
@media screen and (min-width: vars.getThreshold('desktop')) {
  .header {
    &__nav {
      display: flex;
    }
    &__container {
      width: 1314px;
      margin: 0 auto;
    }
    &__links {
      position: relative;
      top: 20px;
      left: 20px;
    }
  }
  .button {
    &__form {
      display: block;
      position: relative;
      top: 20px;
      left: 180px;
    }
    &__menu {
      display: none;
      visibility: hidden;
    }
  }
}
