@use '../utils/vars' as vars;

.problems {
  min-width: 320px;
  width: 100vw;
  background: linear-gradient(
    to bottom,
    vars.getColor('primary') 0,
    vars.getColor('primary') 545px,
    #fff 545px
  );
  padding-top: 50px;
}

@media all and (min-width: vars.getThreshold('tablet')) {
  .problems {
    padding-top: 60px;
    background: linear-gradient(
      to bottom,
      vars.getColor('primary') 0,
      vars.getColor('primary') 340px,
      #fff 340px
    );
  }
}

@media all and (min-width: vars.getThreshold('desktop')) {
  .problems {
    padding-top: 76px;
    background: url('../images/flame.svg'),
      linear-gradient(
        to bottom,
        vars.getColor('primary') 0,
        vars.getColor('primary') 425px,
        #fff 425px
      );
    background-size: 300px 358px, 100% 100%;
    background-position: calc(50vw + 340px) 67px, 0% 0%;
    background-repeat: no-repeat;
  }
}
